/* Extra Reset */

/* This helps with flex box and spacing */

* {
    /* border: 1px dashed black !important; */
    /*remember this remove this imporant*/
    box-sizing: border-box;
}

/* Master CSS over all sections  */

section {
    padding: 40px 0;
}

/* typography   */

@font-face {
    font-family: "Raleway Light";
    src: local("Raleway");
}

@font-face {
    font-family: "Playfair Display";
    src: local("Playfair");
}

html {
    font-size: 14px;
}

/* body p {
    font-family: 'Raleway', Arial, sans-serif ;
} */

body {
    /* max-width: 1240px; */
    margin: 0 auto;
}

.control-maxwidth {
    max-width: 1240px;
}

/* h1, h2,{
    font-family: 'Playfair', Arial, sans-serif;
} */

.transform-bold {
    font-weight: bold;
    font-style: normal;
}

.transform-italics {
    font-style: italic;
}

.main-nav a {
    color: #e2574c;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

/* This makes the header elements inline */

.main-nav li {
    display: inline-block;
    font-size: 1rem;
    padding: 15px;
    font-family: 'Raleway', Arial, sans-serif;
}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 15px;
}

.nav-container {
    /* align-self: flex-end; */
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    border-top: solid #969696 1px;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

img {
    max-width: 100%;
    height: auto;
}



/* This applies to span tags that make text bold */

.container {
    margin: 0 auto;
    width: 100%;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.new-collection {
    font-size: 1.5rem;
    margin-bottom: 35px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', Arial, sans-serif;
}

.season {
    font-size: 3rem;
    text-align: center;
    color: white;
}

/*Hero - Banner - Need to adjust size of the girl. 0% for linear gradient is where it starts*/

.hero-banner {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .25) 100%), url(images/banner-girl.png) no-repeat center 70px, url(images/flower-bkgd.jpg) repeat-x center top;
    background-size: cover, 150px 369px, cover;
    height: 400px;
}

/* This is for the title container section */

.title-container {
    text-align: center;
    color: black;
}

/* Update Section - Change the background */

.update-message {
    max-width: 50%;
    margin: 0 auto;
}

.update-section {
    background: url(images/wave-bkgd.jpg) no-repeat bottom;
    background-size: auto;
    text-align: center;
    color: white;
    height: 340px;
}

.form-holder {
    margin: 0 auto;
    width: 60%;
    max-width: 300px;
    position: relative;
}

input[type=submit] {
    border: none !important;
    /*Remove this after removeing testing border*/
    border-radius: 35px;
    background-color: #e2574c;
    color: white;
    padding: .55rem .65rem;
    position: absolute;
    top: 3px;
    right: 3px;
}

input[type=email] {
    border: none !important;
    /*Remove this after removeing testing border*/
    border-radius: 35px;
    color: black;
    padding: 12px;
    width: 100%;
}

/* For the footer section - Add a black background */

.footer-section {
    background: #242424;
    padding: 3rem;
}

.footer-section {
    color: white;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.footer-address {
    color: #969696;
}

.footer-social li {
    display: inline;
}

.footer-social span {
    display: none;
}

.footer-content p, .footer-content li {
    padding: 5px;
}

.company-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.email-display {
    text-decoration: underline;
}

/* section for page containers
12

smaller- container for max width for smaller containers */

/* Header
min widght */

a:hover {
    color: #b64036
}

/* Banner */

/* About Area */

.about-title {
    font-size: 3rem;
}

.about-message, .update-message {
    font-size: 1.5rem;
    font-family: 'Raleway', Arial, sans-serif;
}

/* Category */

.featured-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    font-size: 3rem;
}

.mens-featured {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .25) 100%), url(images/mens-category.jpg) no-repeat 50% 50%;
    height: 50vh;
    /* width: 50vw; */
    background-size: cover;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}

.trends-featured {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .25) 100%), url(images/trends-category.jpg) no-repeat 50%;
    background-size: cover, cover;
    height: 50vh;
    width: 25vw;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.glasses-featured {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .25) 100%), url(images/glasses-category.jpg) no-repeat;
    height: 50vh;
    width: 25vw;
    background-size: cover, cover;
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.sale-featured {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .25) 100%), url(images/sale-category.jpg) no-repeat;
    height: 50vh;
    width: 25vw;
    background-size: cover, cover;
    order: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.bags-featured {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .25) 100%), url(images/bags-category.jpg) no-repeat;
    height: 50vh;
    width: 25vw;
    background-size: cover, cover;
    order: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.womens-featured {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .25) 100%), url(images/womens-category.jpg) no-repeat;
    height: 50vh;
    width: 25vw;
    background-size: cover, cover;
    order: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}

.featured-section div {
    border: 4px solid white !important;
}

.featured-section a {
    color: white;
    text-decoration: none;
}

.featured-section a:hover {
    color: #f5ebc6;
}

/* Product Section */

.product-section-title, .signup-title {
    text-align: center;
    font-size: 3rem;
}

.product-slider {
    display: flex;
    flex-direction: row;
}

.product-slider p {
    text-align: center;
}

/* mobile style */

.carousel-cell {
    width: 100%;
    text-align: center;
}

/* Footer */

/* Tablet width*/

@media screen and (min-width: 600px) {
    .footer-social span {
        display: inline
    }
    .footer-content {
        display: flex;
    }
    .footer-content {
        flex-direction: row;
    }
    .footer-content {
        justify-content: space-between;
    }
    .footer-content {
        text-align: left;
    }
    .footer-social li {
        display: block;
    }
    .mens-featured, .womens-featured {
        height: 50vh;
        max-height: 200px;
        width: 25vw;
        flex-basis: 50%;
    }
    .trends-featured, .glasses-featured, .sale-featured, .bags-featured {
        height: 50vh;
        max-height: 200px;
        width: 25vw;
        flex-basis: 25%;
    }
    .header-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: none;
        flex-basis: auto;
        padding: 100rem 0rem;
    }
    .logo-image {
        order: 1;
        align-self: flex-start;
        max-width: 120px;
    }
    .nav-container {
        order: 2;
        align-self: center;
        border-top: none;
        flex-basis: 100%;
    }
    .cart-logo {
        order: 3;
        align-self: flex-end;
        flex-basis: 50px;
    }
    
    .form-holder {
        width: 40%;
        padding: 0px;
    }
    html {
        font-size: 16px;
    }
    .header-container {
        padding: 0px 15px 5px 15px;
    }
    /* media query example */
    @media screen and (min-width: 600px) {
        .carousel-cell {
            width: 25%;
        }
    }
}

/* End of tablet */

/* Desktop*/

@media screen and (min-width: 1240px) {
    .shape-rectangle {
        height: 300px;
        max-height: none;
    }
    .shape-square {
        height: 300px;
        max-height: none;
    }
    .hero-banner {
        height: 550px;
    }
    .logo-image {
        order: 1;
        align-self: flex-start;
        max-width: 160px;
    }